p {
  background-color: rgb(15, 65, 250, 0.5);
  font-family: verdana, "DejaVu Sans", "sans-seriff";
}

#div-one {
  color: hwb(240 4% 4% / 0.998);
  font-size: 36px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#num-3 {
  font-size: 24px;
}

#div-two {
  background: #1ed60d;
  font-size: 24px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
